{% extends 'base.html' %}
{% block head %}
  <title>Ambassador</title>
{% endblock %} 
{% block body %}

<div ng-app="refearn" ng-controller="refearnController">

  <form>
    <div class="col-md-4">
      <label>Email</label>
      <input type="email" class="form-control" ng-model="email" placeholder="abc@example.com">
      <br> Joining Date
      <input type="date" class="form-control" ng-model="joining_date" placeholder="dd/mm/yyyy">
      <br> Referral Id:
      <input type="number" class="form-control" ng-model="referral_id" placeholder="Referring Customer ID">
      <br>
      <button type="submit" class="btn btn-info btn-sm" ng-click="addAmbassodor()">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
