{% extends 'base.html' %}
{% block head %}
  <title>Referral</title>
{% endblock %} 
{% block body %}

<div ng-app="refearn" ng-controller="refearnController">
  <form>
    <div class="col-md-4">
      <label>Customer ID</label>
      <input type="number" class="form-control" ng-model="customer" placeholder="Enter Customer ID: ">
      <br> <label>Referral ID</label>
      <input type="number" class="form-control" ng-model="referrer" placeholder="Enter the refferer ID: ">
      <br>
      <button type="submit" class="btn btn-info btn-sm" ng-click="addReferral()">Submit</button>
    </div>
  </form>
  <br>
  {{response}}
</div>
{% endblock %}